<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Chgt pwd</title>
</head>
<body lang=FR-CH link=blue vlink=purple style = "font:11pt Tahoma, Helvetica, Arial,sans-serif;">
<p>
Dear <wo:string value = "$nomUser" />, 
</p>

<p>
Welcome to the SSCS V2 cohort application.
<br>
You can access the application at this address: <a href="https://sscs.sensa.sib.swiss/apps/WebObjects/SSCS.woa">https://sscs.sensa.sib.swiss/apps/WebObjects/SSCS.woa</a>
</p>
<p>
Your login  is <b><wo:string value = "$simedUser.login"/></b>.
<br>
Please, follow the link below to choose a password with the following requirements:
<ul>
  <li>10 characters minimum</li>
  <li>At least 1 uppercase</li>
  <li>At least 1 number</li>
  <li>At least 1 special character</li>
  <li>No accentuated characters</li>
</ul>
</p>

<wo:hyperlink href = "$url"><wo:string value = "$url" /></wo:hyperlink>
<p>
<br>

<p>
Best Regards, 
<br><br>
The SSCS IT support team
</p>
<p  style = "font-size:10pt;" >(This mail was automaticly generated, for any question please contact Dr Camillo Ribi, <a href="mailto:Camillo.Ribi@chuv.ch">Camillo.Ribi@chuv.ch</a>)</p>
 
</body>
</html>